
.mainPage-menu {
    /* width: 100%; */
    display: flex;

    justify-content: center;

    column-gap: 15px;
    /* align-items: center; */
}


.mainPage-title {
    text-align: center;
    color: green;
}

.mainPage-paragraph {
    width: 100%;
    margin: auto;
    margin: 1cm 0;
    font-style: italic;

}


.mainPage-atag_source:hover {


    background-color: blue;
}

.mainPage-table {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 462px) {

    .mainPage-table {
        grid-template-columns: 1fr !important;
    }
    
}