
.tytulStrony{
    text-align: center;
    margin-bottom: 1cm;
}


.tableZdanymi th,
.tableZdanymi td {
    padding: 10px;
    border: 1px solid black;
}

.tableZdanymi th {
    color: white;
    background-color: black;
}