
.mainPage-menu {
    /* width: 100%; */
    display: flex;

    justify-content: center;

    column-gap: 15px;
    /* align-items: center; */
}


.mainPage-title {
    text-align: center;
    color: green;
}

.mainPage-paragraph {
    width: 100%;
    margin: auto;
    margin: 1cm 0;
    font-style: italic;

}


.mainPage-atag_source:hover {


    background-color: blue;
}

.mainPage-table {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 462px) {

    .mainPage-table {
        grid-template-columns: 1fr !important;
    }
}
.tytulStrony{
    text-align: center;
    margin-bottom: 1cm;
}


.tableZdanymi th,
.tableZdanymi td {
    padding: 10px;
    border: 1px solid black;
}

.tableZdanymi th {
    color: white;
    background-color: black;

}
#zdjstrona {
    text-align: center;
    margin-bottom: 1cm;
}
img {
    width: 100px;
    height: 100px;
    margin: 1cm;
    border: 2px solid black;
}
#formstrona {
    text-align: center;
    margin-bottom: 1cm;
}
button {
    background-color: orange;
}
input {
  background-color: lightblue;
  margin: 1cm;
}
#autorstrona {
    text-align: center;
    margin-bottom: 1cm;
}
.my {
    border: 2px solid black;
    font-weight: bold;
}
